# Regression in Machine Learning Tag-Along Codes 
# Stage B

%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

In [76]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')                
a=df.drop(['date','lights'], axis=1)

In [3]:
df.isnull().sum()

Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# QUESTION 12

In [77]:
a.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [30]:
x=pd.DataFrame(df_new['Temperature_in_living_room'])
y=df_new['Temperature_outside_building']
x_train, x_test, y_train, y_test = train_test_split(x, y,
test_size=0.2, random_state=42)
regression=LinearRegression()
#training the model
regression.fit(x_train,y_train)
y_predict=regression.predict(x_test)
r2_score = (metrics.r2_score(y_test, y_predict))
round(r2_score, 2)

0.64

# QUESTION 13

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [78]:
scaler = MinMaxScaler()
scaler=scaler.fit(a)
df1=scaler.transform(a)

In [79]:
a.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [113]:
df2=pd.DataFrame(df1)
df2
column_names={0:'Appliances', 1:'T1', 2:'RH_1', 3:'T2', 4:'RH_2', 5:'T3', 6:'RH_3', 7:'T4', 8:'RH_4',
       9:'T5', 10:'RH_5', 11:'T6', 12:'RH_6', 13:'T7', 14:'RH_7', 15:'T8', 16:'RH_8', 17:'T9', 18:'RH_9',
      19: 'T_out', 20:'Press_mm_hg', 21:'RH_out', 22:'Windspeed', 23:'Visibility',
       24:'Tdewpoint', 25:'rv1', 26:'rv2'}
df2 = df2.rename(columns=column_names)
df2

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [115]:
x1=df2.drop(['Appliances'], axis=1)
y1=df2['Appliances']
x_train, x_test, y_train, y_test = train_test_split(x1, y1,
test_size=0.3, random_state=42)
regression=LinearRegression()
regression.fit(x_train,y_train)
y_predict1=regression.predict(x_test)
#evaluating Mean Absolute Error (mae)
mae = (metrics.mean_absolute_error(y_test, y_predict1))
round(mae, 2)

0.05

# QUESTION 14

What is the Residual Sum of Squares (in two decimal places)?

In [116]:
#evaluating Residual Sum of Squares (rss)
import numpy as np
rss = np.sum(np.square(y_test - y_predict1))
round(rss, 2)

45.35

# QUESTION 15

What is the Root Mean Squared Error (in three decimal places)?

In [117]:
#evaluating Root Mean Squared Error (rmse)
rmse = (np.sqrt(metrics.mean_squared_error(y_test,y_predict1)))
round(rmse, 3)

0.088

# QUESTION 16

What is the Coefficient of Determination (in two decimal places)?

In [118]:
#evaluating Coefficient of Determination (r2_score)
r2_score = (metrics.r2_score(y_test, y_predict1))
round(r2_score, 2)

0.15

# QUESTION 17

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [120]:
weights=pd.DataFrame({'columns': x1.columns, 'weights': regression.coef_})
print(weights)
lowest_weights=weights.loc[weights['weights']==min(weights['weights'])]['columns']
highest_weights=weights.loc[weights['weights']==max(weights['weights'])]['columns']
print(lowest_weights, highest_weights)
print('# the he lowest and highest weights respectively are RH_2 and RH_1')

        columns   weights
0            T1 -0.003281
1          RH_1  0.553547
2            T2 -0.236178
3          RH_2 -0.456698
4            T3  0.290627
5          RH_3  0.096048
6            T4  0.028981
7          RH_4  0.026386
8            T5 -0.015657
9          RH_5  0.016006
10           T6  0.236425
11         RH_6  0.038049
12           T7  0.010319
13         RH_7 -0.044614
14           T8  0.101995
15         RH_8 -0.157595
16           T9 -0.189941
17         RH_9 -0.039800
18        T_out -0.321860
19  Press_mm_hg  0.006839
20       RH_out -0.077671
21    Windspeed  0.029183
22   Visibility  0.012307
23    Tdewpoint  0.117758
24          rv1  0.000770
25          rv2  0.000770
3    RH_2
Name: columns, dtype: object 1    RH_1
Name: columns, dtype: object
# the he lowest and highest weights respectively are RH_2 and RH_1

# QUESTION 18

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [127]:
from sklearn.linear_model import Ridge
x_train, x_test, y_train, y_test = train_test_split(x1, y1,
test_size=0.3, random_state=42)
regression=Ridge(alpha=0.4)
#training the model
regression.fit(x_train,y_train)
y_predict2=regression.predict(x_test)

#evaluating Root Mean Squared Error (rmse)
rmse = (np.sqrt(metrics.mean_squared_error(y_test,y_predict2)))
j=round(rmse, 3)
print(j)
print('There is no changes of any form')

0.088
There is no changes of any form

# QUESTION 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [134]:
from sklearn.linear_model import Lasso
x_train, x_test, y_train, y_test = train_test_split(x1, y1,
test_size=0.3, random_state=42)
regression=Lasso(alpha=0.001)
#training the model
regression.fit(x_train,y_train)
y_predict3=regression.predict(x_test)

weights=pd.DataFrame({'columns': x1.columns, 'weights': regression.coef_})
non_zero=weights.loc[weights['weights']!=0]
print(len(non_zero))

4

# QUESTION 20

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [135]:
#RMSE
rmse = (np.sqrt(metrics.mean_squared_error(y_test, y_predict3)))
round(rmse, 3)

0.094